/* my webpage's css file*/
body {
font-size:14pt;
font-family: helvetica, arial, sans-serif;
background-color: var(--light_color);
color: var(--dark_color);
}

ul{
list-style-type: none;
}

footer{
list-style-type: none;
}

main{
padding: 20px 150px 150px 150px;
}

header{
border: 1px solid;
border-color: var(--dark2_color);
padding: 5px 5px 5px 5px;
}

:root{
--light_color: #00FFFF; /*Aqua*/
--light2_color: #7FFF00; /*Chartreuse*/
--dark_color: #00008B; /*DarkBlue*/
--dark2_color: #006400; /*DarkGreen*/
--dark3_color: #9400D3; /*DarkViolet*/
--white: #FFFFFF;
}

/*classes*/
.brief_poster{
height: 250px;
}

.social_icon{
height: 30px;
text-align: center;
}

.film_brief{
border: 1px solid;
border-color: var(--dark2_color);
padding: 10px 10px 10px 10px;
margin: 10px;
width: 500px;
text-align: center;
display: grid;
grid-template-columns: auto 1fr;
grid-template-areas: 
'post infor'
'times times'
}

/*film brief gird templates*/
.poster{
grid-area: post;
}

.showing_times{
grid-area: times;
}

.info{
grid-area: infor;
}


.film_briefs{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.page_head{
display: flex;
align-items: center;
box-sizing: border-box;
justify-content: space-between;
flex-grow: 0;
}

.day{
float: left;
padding: 5px 5px 5px 5px;
}

.last{
clear: both;
}

.time{
float: left;
padding: 3px 3px 3px 3px;
}

.social{
display: flex;
justify-content: space-around;
width: 450px;
}

/*ids*/
#page_head{
position: fixed;
top: 0px;
left: 0px;
background-color: var(--light_color);
width: 100vw;
}


#title{
text-align: center;
}

#day_chooser{
color: var(--white); 
background-color: var(--dark_color);
list-style-type: none;
text-align: center;
padding: 10px 10px 10px 10px;
}

#logo{
height: 50px;
}

#cart{
height: 40px;
}

#text{
display: flex;
}

/*detail.html poster*/
#poster{
display: flex;
}

#space{
flex-grow: 1;
}
