/* my webpage's css file*/
body {
font-size:14pt;
font-family: helvetica, arial, sans-serif;
background-color: var(--light_color);
color: var(--dark_color);
}

ul{
list-style-type: none;
}

footer{
list-style-type: none;
}

main{
padding: 20px 150px 150px 150px;
}

header{
border: 1px solid;
border-color: var(--dark2_color);
padding: 5px 5px 5px 5px;
}

:root{
--light_color: #00FFFF; /*Aqua*/
--light2_color: #7FFF00; /*Chartreuse*/
--dark_color: #00008B; /*DarkBlue*/
--dark2_color: #006400; /*DarkGreen*/
--dark3_color: #9400D3; /*DarkViolet*/
--white: #FFFFFF;
}

/*classes*/
.brief_poster{
}

.social_icon{
height: 30px;
text-align: center;
}

.film_brief{
border: 1px solid;
border-color: var(--dark2_color);
padding: 10px 10px 10px 10px;
margin: 10px;
width: 500px;
text-align: center;
display: grid;
grid-template-columns: auto 1fr;
grid-template-areas: 
'post infor'
'times times';
box-shadow: 5px 5px 8px green;
}

/*film brief grid templates*/
.poster{
grid-area: post;
}

.poster > img{
height: 250px;
}

.showing_times{
grid-area: times;
align-items: space-between;
}

.showing_times > ul > li{
float: left;
padding: 3px 3px 3px 3px;
}

.info{
grid-area: infor;
text-align: left;
}


.film_briefs{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.page_head{
padding: 10px 10px 30px 30px;
background-color: var(--white);
width: 98vw;
box-shadow: 5px 10px 8px #808080;
display: flex;
align-items: center;
box-sizing: border-box;
justify-content: space-between;
flex-grow: 0;
}

.page_head > img{
height: 60px;
}

.page_head > p{
margin-left: 1em;
}

.page_head > a{
margin-left: 1em;
}
.page_head > a > img{
height: 40px;
}

.day{
float: left;
padding: 15px 15px 5px 15px;
font-style: italic;
font-size: 2em;
}

.last{
clear: both;
}

.social{
display: flex;
justify-content: space-around;
width: 450px;
}

.deets{
text-align: center;
}

/*ids*/
#title{
text-align: center;
font-size: 3em;      
}

#day_chooser{
color: var(--white); 
background-color: var(--dark_color);
list-style-type: none;
text-align: center;
padding: 10px 10px 10px 10px;
}

#text{
display: flex;
}

/*detail.html poster*/
#poster{
display: flex;
height: 500px;
}

/*detail.html info*/
#info{
margin-right: 100px;
text-align: left;
}

#space{
flex-grow: 1;
}

#tagline{
font-size: 2em;
}

#overview{
text-align: left;
}

@media (max-width:768px) {
	body {
	}

	#bye{
		display: none;
	}
	
	#poster{
		flex-direction: column;
	}

	#info{
		flex-direection: column;
	}

}
